<a href="https://colab.research.google.com/github/Kaio1394/Curso-ciencia-de-dados/blob/master/Melbourne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import regex as re

In [49]:
data = pd.read_csv('MELBOURNE_HOUSE_PRICES_LESS.csv')

In [ ]:
# Colunas do dataframe
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Postcode', 'Regionname', 'Propertycount', 'Distance',
       'CouncilArea'],
      dtype='object')

In [ ]:
# Exibição das 5 primeiras linhas
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [ ]:
# Quantidade de linhas
len(data)

63023

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63023 entries, 0 to 63022
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         63023 non-null  object
 1   Address        63023 non-null  object
 2   Rooms          63023 non-null  int64
 3   Type           63023 non-null  object
 4   Price          48433 non-null  float64
 5   Method         63023 non-null  object
 6   SellerG        63023 non-null  object
 7   Date           63023 non-null  object
 8   Postcode       63023 non-null  int64
 9   Regionname     63023 non-null  object
 10  Propertycount  63023 non-null  int64
 11  Distance       63023 non-null  float64
 12  CouncilArea    63023 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 6.3+ MB

In [43]:
data.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price            14590
Method               0
SellerG              0
Date                 0
Postcode             0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
dtype: int64

In [50]:
# Trocando valores NaN por zero
data['Price'] = data['Price'].fillna(0)

# Preços com valores zerados
data.loc[data['Price'] == 0.0]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
8,Albanvale,1 Jackson Cct,6,h,0.0,PI,hockingstuart,1/04/2017,3021,Western Metropolitan,1899,14.0,Brimbank City Council
15,Altona Meadows,57 Tatman Dr,4,h,0.0,SN,Barry,1/04/2017,3028,Western Metropolitan,7630,15.5,Hobsons Bay City Council
24,Ashburton,1 Pitt St,4,h,0.0,S,Jellis,1/04/2017,3147,Southern Metropolitan,3052,10.2,Boroondara City Council
29,Attwood,46 Threadneedle St,4,h,0.0,SN,Barry,1/04/2017,3049,Northern Metropolitan,1130,16.5,Hume City Council
38,Balwyn North,12 Agnes Av,3,h,0.0,SP,Fletchers,1/04/2017,3104,Southern Metropolitan,7809,9.7,Boroondara City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63001,Wyndham Vale,15 Yaltara Dr,3,h,0.0,S,hockingstuart,30/12/2017,3024,Western Metropolitan,5262,27.2,Wyndham City Council
63008,Yarraville,4/247 Williamstown Rd,3,t,0.0,S,Jas,30/12/2017,3013,Western Metropolitan,6543,6.3,Maribyrnong City Council
63010,Burwood,29 Summit Rd,4,h,0.0,PN,@Realty,31/03/2018,3125,Southern Metropolitan,5678,10.4,Monash City Council
63021,Thomastown,3/1 Travers St,3,u,0.0,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,0.0,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

In [13]:
# Casa com valor de preço maior
data.sort_values('Price', ascending=False)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
23841,Canterbury,49 Mangarra Rd,5,h,8000000.0,VB,Sotheby's,13/05/2017,3126.0,Southern Metropolitan,3265.0,8.4,Boroondara City Council
1593,Toorak,12 Hill St,5,h,6700000.0,VB,Marshall,1/09/2018,3142.0,Southern Metropolitan,7217.0,4.1,Stonnington City Council
7825,Armadale,507 Orrong Rd,10,h,6600000.0,S,Marshall,5/05/2018,3143.0,Southern Metropolitan,4836.0,6.3,Stonnington City Council
17683,Malvern,6 Moorakyne Av,5,h,6600000.0,S,Jellis,9/12/2017,3144.0,Southern Metropolitan,4675.0,5.9,Stonnington City Council
24587,Kew,15 Barry St,6,h,6500000.0,S,Jellis,13/08/2016,3101.0,Southern Metropolitan,10331.0,5.4,Boroondara City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27196,St Kilda,3/11 Herbert St,2,u,NaN,S,Biggin,14/10/2017,3182.0,Southern Metropolitan,13240.0,5.0,Port Phillip City Council
27214,Surrey Hills,61A Broughton Rd,4,t,NaN,VB,Fletchers,14/10/2017,3127.0,Southern Metropolitan,5457.0,10.2,Boroondara City Council
27225,Templestowe,2/2 Wyena Wy,2,u,NaN,S,Jellis,14/10/2017,3106.0,Eastern Metropolitan,6202.0,15.5,Manningham City Council
27232,Thornbury,72 Ballantyne St,3,h,NaN,S,Kaio,14/10/2017,3071.0,Northern Metropolitan,8870.0,7.0,Darebin City Council
27241,Toorak,699 Malvern Rd,4,h,NaN,S,Marshall,14/10/2017,3142.0,Southern Metropolitan,7217.0,4.1,Stonnington City Council

In [ ]:
# Filtrando dados
filter = data.loc[(data['Rooms'] == 3) & (data['Type'] == 'h') & data['Price'] <= 200000]
filter

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3.0,h,1490000.0,S,Jellis,1/04/2017,3067.0,Northern Metropolitan,4019.0,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3.0,h,1220000.0,S,Marshall,1/04/2017,3067.0,Northern Metropolitan,4019.0,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3.0,h,1420000.0,S,Nelson,1/04/2017,3067.0,Northern Metropolitan,4019.0,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3.0,h,1515000.0,S,Barry,1/04/2017,3040.0,Western Metropolitan,1543.0,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2.0,h,670000.0,S,Nelson,1/04/2017,3042.0,Western Metropolitan,3464.0,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54366,Epping,53 Hayston Bvd,3.0,h,465000.0,S,Harcourts,27/05/2017,3076.0,Northern Metropolitan,10926.0,19.6,Whittlesea City Council
54367,Epping,13 Orlit Ct,4.0,h,545000.0,PI,Barry,27/05/2017,3076.0,Northern Metropolitan,10926.0,19.6,Whittlesea City Council
54368,Epping,14A Supply Dr,2.0,h,452500.0,S,Barry,27/05/2017,3076.0,Northern Metropolitan,10926.0,19.6,Whittlesea City Council
54369,Essendon,9 Amelia Av,4.0,h,1577000.0,S,Hodges,27/05/2017,3040.0,Western Metropolitan,9264.0,7.5,Moonee Valley City Council
54370,Essendon,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


# Filtrando com regex

In [71]:
# Filtrando com o método contains()
# 'turner st|turner Rd' -> contains('Turner St' or 'Turner Rd')
# 'flags'=re.I -> ignora letras maísculas
data.loc[data['Address'].str.contains('turner st|turner Rd', flags=re.I)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2859,Malvern East,24 Turner St,6,h,4700000.0,S,RT,3/03/2018,3145,Southern Metropolitan,8801,8.4,Stonnington City Council
4723,Highett,48 Turner Rd,2,h,832000.0,S,Buxton,3/09/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
4987,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council
7501,Highett,28 Turner Rd,3,h,0.0,PI,Nick,4/08/2018,3190,Southern Metropolitan,4794,16.0,Bayside City Council
9647,Abbotsford,53 Turner St,2,h,0.0,S,Biggin,6/08/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council
9648,Abbotsford,99 Turner St,2,h,0.0,S,Collins,6/08/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council
14012,Berwick,4 Turner St,5,h,536000.0,S,O'Brien,8/04/2017,3806,Eastern Victoria,17093,35.2,Casey City Council
14745,Westmeadows,16 Turner St,3,h,0.0,SN,Stockdale,8/04/2017,3049,Northern Metropolitan,2474,16.5,Hume City Council
18960,Moonee Ponds,3/16 Turner St,2,u,550000.0,VB,Woodards,10/09/2016,3039,Western Metropolitan,6232,6.2,Moonee Valley City Council
19148,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10/12/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council
19609,Highett,2/20 Turner Rd,2,u,730000.0,SP,Buxton,10/12/2016,3190,Southern Metropolitan,4794,16.0,Bayside City Council
20043,Westmeadows,14 Turner St,3,h,586000.0,S,Stockdale,10/12/2016,3049,Northern Metropolitan,2474,16.5,Hume City Council
20717,Langwarrin,49 Turner Rd,4,h,0.0,PI,UFirst,11/08/2018,3910,Eastern Victoria,8743,41.0,Frankston City Council
25081,Moonee Ponds,15/3 Turner St,3,Teste,732000.0,Pending,Kaio,13/10/2018,3039,Western Metropolitan,6232,6.2,Moonee Valley City Council
26305,Abbotsford,2 Turner St,3,h,1620000.0,S,Biggin,14/07/2018,3067,Northern Metropolitan,4019,3.0,Yarra City Council
29650,Briar Hill,10 Turner St,2,h,812000.0,S,Darren,16/06/2018,3088,Eastern Metropolitan,1390,16.1,Banyule City Council
36217,Westmeadows,25 Turner St,4,h,685000.0,S,Jason,18/06/2016,3049,Northern Metropolitan,2474,16.5,Hume City Council
39873,Highett,3/6 Turner Rd,3,u,0.0,PI,Buxton,20/05/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
41985,Highett,1/6 Turner Rd,4,h,921000.0,S,Buxton,22/04/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
42537,Malvern East,16 Turner St,4,h,0.0,S,Marshall,22/05/2016,3145,Southern Metropolitan,8801,8.4,Stonnington City Council
45597,Highett,3/15 Turner Rd,2,u,770000.0,S,McGrath,23/09/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
47333,Malvern East,27 Turner St,2,h,1040000.0,S,Jellis,24/02/2018,3145,Southern Metropolitan,8801,8.4,Stonnington City Council
47843,Berwick,6 Turner St,4,h,1400000.0,VB,Peake,24/03/2018,3806,Eastern Victoria,17093,35.2,Casey City Council
49480,Abbotsford,31 Turner St,4,h,1542000.0,S,Collins,24/09/2016,3067,Northern Metropolitan,4019,3.0,Yarra City Council
49890,Moonee Ponds,4/6 Turner St,2,u,600000.0,S,Woodards,24/09/2016,3039,Western Metropolitan,6232,6.2,Moonee Valley City Council
50254,Briar Hill,7 Turner St,4,h,1100000.0,S,Jellis,25/02/2017,3088,Eastern Metropolitan,1390,16.1,Banyule City Council
51364,Malvern East,29 Turner St,2,h,1010000.0,SP,Jellis,25/08/2018,3145,Southern Metropolitan,8801,8.4,Stonnington City Council
53753,Highett,2/4 Turner Rd,2,u,680500.0,S,Ray,26/08/2017,3190,Southern Metropolitan,4794,16.0,Bayside City Council
57940,Abbotsford,210/125 Turner St,2,Teste,760000.0,Pending,Kaio,28/07/2018,3067,Northern Metropolitan,4019,3.0,Yarra City Council
57978,Berwick,5 Turner St,4,h,940000.0,SP,Ray,28/07/2018,3806,Eastern Victoria,17093,35.2,Casey City Council
58707,Highett,22 Turner Rd,3,h,1150000.0,SP,Buxton,28/08/2016,3190,Southern Metropolitan,4794,16.0,Bayside City Council

In [68]:
# '^59' -> Inicie como 59
data.loc[data['Address'].str.contains('^59') & (data['Price'] <= 1000000)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
182,Croydon,59 Wicklow Av,3,h,965000.0,S,Carter,1/04/2017,3136,Eastern Metropolitan,11925,23.0,Maroondah City Council
770,Craigieburn,59 Balyang Wy,4,h,607000.0,S,@Realty,1/07/2017,3064,Northern Metropolitan,15510,20.6,Hume City Council
797,Eltham,59 Bible St,3,h,975000.0,S,Morrison,1/07/2017,3095,Eastern Metropolitan,6990,18.0,Banyule City Council
807,Epping,59 Greenfields Dr,4,h,940000.0,SP,Iconek,1/07/2017,3076,Northern Metropolitan,10926,19.6,Whittlesea City Council
1698,Braybrook,59 South Rd,3,h,700000.0,VB,Barry,2/06/2018,3019,Western Metropolitan,3589,8.6,Maribyrnong City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61169,Oak Park,59 Winifred St,4,h,921000.0,S,Jellis,29/07/2017,3046,Northern Metropolitan,2651,11.2,Moreland City Council
61190,Prahran,59 Perth St,2,h,0.0,SP,Hodges,29/07/2017,3181,Southern Metropolitan,7717,4.6,Stonnington City Council
61832,Cheltenham,59 Nancy St,4,h,970000.0,S,Greg,30/07/2016,3192,Southern Metropolitan,9758,17.9,Bayside City Council
62796,Point Cook,59 Breasley Pky,3,h,670000.0,S,hockingstuart,30/12/2017,3030,Western Metropolitan,15542,14.7,Wyndham City Council
62903,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,30/12/2017,3429,Western Metropolitan,14092,31.7,Hume City Council

In [51]:
# Trocando valores da tabela
data.loc[data['SellerG'] == 'Nelson', 'SellerG'] = 'Kaio'

In [52]:
# Confirmando valore trocado
data.loc[data['SellerG'] == 'Kaio']

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Kaio,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Kaio,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
7,Airport West,1/26 Highridge Cr,3,h,715000.0,SP,Kaio,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
50,Bellfield,1/15 Toohey St,3,u,675000.0,SP,Kaio,1/04/2017,3081,Eastern Metropolitan,790,8.8,Banyule City Council
94,Brunswick,53 Amelia St,2,h,740000.0,PI,Kaio,1/04/2017,3056,Northern Metropolitan,11918,5.2,Moreland City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62841,Reservoir,2/61 Marchant Av,2,t,600000.0,S,Kaio,30/12/2017,3073,Northern Metropolitan,21650,12.0,Darebin City Council
62843,Reservoir,19 Ramleh Rd,4,h,890000.0,S,Kaio,30/12/2017,3073,Northern Metropolitan,21650,12.0,Darebin City Council
62847,Richmond,37 Cutter St,3,h,1490000.0,S,Kaio,30/12/2017,3121,Northern Metropolitan,14949,2.4,Yarra City Council
62851,Richmond,81 Wellington St,2,h,1145000.0,S,Kaio,30/12/2017,3121,Northern Metropolitan,14949,2.4,Yarra City Council
62901,Strathmore,3/40 Glenbervie Rd,3,u,900000.0,VB,Kaio,30/12/2017,3041,Western Metropolitan,3284,8.2,Moonee Valley City Council

In [58]:
# Alterando valores de mais de uma coluna
data.loc[data['SellerG'] == 'Kaio', ['Method', 'Type']] = 'Pending', 'Teste'
data.loc[data['SellerG'] == 'Kaio']

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
2,Abbotsford,119B Yarra St,3,Teste,1420000.0,Pending,Kaio,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
4,Airport West,92 Clydesdale Rd,2,Teste,670000.0,Pending,Kaio,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
7,Airport West,1/26 Highridge Cr,3,Teste,715000.0,Pending,Kaio,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
50,Bellfield,1/15 Toohey St,3,Teste,675000.0,Pending,Kaio,1/04/2017,3081,Eastern Metropolitan,790,8.8,Banyule City Council
94,Brunswick,53 Amelia St,2,Teste,740000.0,Pending,Kaio,1/04/2017,3056,Northern Metropolitan,11918,5.2,Moreland City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62841,Reservoir,2/61 Marchant Av,2,Teste,600000.0,Pending,Kaio,30/12/2017,3073,Northern Metropolitan,21650,12.0,Darebin City Council
62843,Reservoir,19 Ramleh Rd,4,Teste,890000.0,Pending,Kaio,30/12/2017,3073,Northern Metropolitan,21650,12.0,Darebin City Council
62847,Richmond,37 Cutter St,3,Teste,1490000.0,Pending,Kaio,30/12/2017,3121,Northern Metropolitan,14949,2.4,Yarra City Council
62851,Richmond,81 Wellington St,2,Teste,1145000.0,Pending,Kaio,30/12/2017,3121,Northern Metropolitan,14949,2.4,Yarra City Council
62901,Strathmore,3/40 Glenbervie Rd,3,Teste,900000.0,Pending,Kaio,30/12/2017,3041,Western Metropolitan,3284,8.2,Moonee Valley City Council

# Groupby

In [67]:
# Realiza o somatório de todas as colunas dos vendedores "data.groupby(['SellerG']).sum()".
# E lista os 10 que mais venderam "sort_values('Price', ascending=False).head(10)" de forma descrescente
data.groupby(['SellerG']).sum().sort_values('Price', ascending=False).head(10)

               Rooms         Price  Postcode  Propertycount  Distance
SellerG
Jellis         16948  5.301902e+09  17116422       42958979   47831.6
Kaio           13808  4.089097e+09  14489179       35455466   34410.5
Barry          22919  4.022899e+09  21405391       54662639  108662.2
Marshall        9437  3.337732e+09   8949613       22270034   20141.4
hockingstuart  12635  3.174822e+09  13571171       36291698   53918.3
Buxton         10707  3.103258e+09  10669223       21365913   48190.6
Ray            14961  2.953669e+09  14329293       41191735   76239.1
Fletchers       5402  1.384292e+09   5039345       10521475   21963.2
Biggin          4203  1.002292e+09   4783284       12904764   12250.2
Noel            3447  9.618405e+08   3328766        6571572   14386.3